.App {
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  border: 2px solid #012e33;
  border-radius: 5px;
  display: block;
  font-family: "Sofia", cursive;
  margin: 30px auto 0px;
  max-width: 550px;
  padding: 30px;
}
